
body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: max(14px, calc(0rem + 3vmin));
    background: hsl(280 20% 10%);
    color: #fff;
}


svg{
    width: 100vmin;
    height: 100vmin;
}

table{
    width: 100vmin;
}